.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-info {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin-bottom: 20px;
  width: 400px;
}

.post-comments {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin-bottom: 20px;
  width: 400px;
}

.post-show-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-inf-box {
  display: flex;
  justify-content: space-between;
}

.create-post-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-form-c {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-title-c,
.post-text-c {
  padding: 20px;
  width: 400px;
}

.submit-btn {
  padding: 10px;
}

.add-comment-c {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-text-c {
  padding: 20px;
  width: 400px;
}
